*{
    margin: 0;
    padding: 0;
}

body{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-sizing: border-box;
    height:100vh
}

#hiddenAlert{
    display:none;
}

#list img{
    padding-top: 4px;
    padding-left: 4px;
    width: 23px !important;
    height: 23px !important;
    cursor: pointer;
}

#divName, #divDni{
    display: none;
}

#comentario{
    height: 105px;
} 

.appendActive, .append:hover{
    background-color: lightblue;
    border: 1px solid #007bff;
    cursor: pointer;
}

.button{
    display: none;
}

.clicked{
    background-color: white;
    color: black;
}

.input{
    background: rgb(240, 240, 240);
}

#dataList{
    overflow-y: scroll;
    height: auto;
    max-height: 170px;
}

#menu{
    width: 30px;
    cursor: pointer;
}

.crud:focus{
    border: none;
    outline:none !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

@media screen and (max-width: 768px){

    .crud{
        margin: 0 !important;
        padding: 1px !important;
    }
}